
.parking-sign {
  font-size: 18px;
  font-weight: bold;
  color: #000; /* Dark color for visibility */
  background-color: #fff; /* Optional: background color for contrast */
  padding: 3px 5px;
  border-radius: 4px;
  border: 2px solid #000;
  margin-bottom: 18px; /* Space between sign and parking spot */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  text-align: center;
}

.parking-spot {
  position: absolute; /* Position relative to the road */
  bottom: -5px; /* Adjust based on how you want it to appear */
  width: 1000px; /* Width of the parking spot */
  height: 40px; /* Height of the parking spot */
  background-color: #f8e28c; /* Color for the parking spot */
  border: 2px solid #000; /* Optional: border to define the parking spot */
  border-radius: 5px; /* Optional: rounded corners */
  left: calc(100% - 30px); /* Position at the end of the road */
  box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transform: perspective(400vh) rotateX(80deg) rotateY(0deg); /* Flatten on Z-axis */
  z-index: 99999;
}
.progress-bar-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  z-index: 99999; /* Bring the entire component to the front */
}

.road {
  position: relative;
  width: 90%;
  height: 8px;
  background: #868484;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: visible;
  z-index: 99999; /* Ensures road stays in front */
}

.progress {
  height: 100%;
  background-color: black;
  border-radius: 5px 0 0 5px;
  transition: width 0.3s ease;
  z-index: 99999; /* Ensures progress bar stays in front */
}

/* Style for the car GIF */
.car-gif {
  position: absolute;
  bottom: -3vh;
  width: 20vh;
  height: auto;
  transform: rotateY(180deg);
  z-index: 99999; /* Ensures car GIF stays in front */
  
  transition: left 0.8s ease-out;
}

.button-container {
  display: flex;
  gap: 20px;
}

.parking-spot-container {
  position: absolute;
  bottom: -15px;
  left: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: right;
  z-index: 99999; /* Ensures parking spot stays in front */
}

.parking-spot {
  position: absolute;
  bottom: -5px;
  width: 1000px;
  height: 40px;
  background-color: #f8e28c;
  border: 2px solid #000;
  border-radius: 5px;
  left: calc(100% - 30px);
  box-shadow: 10px 3px 6px rgba(0, 0, 0, 0.3);
  transform: perspective(400vh) rotateX(80deg) rotateY(0deg);
  z-index: 99999;
}

